* {
  box-sizing: border-box;
  font-family: calibri;
  margin: auto;
  text-align: center;
}

body {
  background-color: #1a1a4f;
  padding: 0px 0px 50px 0px;
}

img {
  border: double 10px #040424;
  border-radius: 30px;
  width: 260px;
}

h1 {
  background-color: #040424;
  color: #9797bd;
  padding: 30px 0px 30px 0px;
  text-shadow: 4px 3px 0px #040424;
  width: 100%;
  }

button {
  background-color: #715a17;
  border: outset 2px #fff0c2;
  border-radius: 5px;
  color: #fff0c2;
  font-size: 1.3em;
  margin: 0px;
  padding: 10px;
}

button:hover {
  background-color: #806619;
  border: solid 2px #fff9e6;
  color: #fff9e6;
}

button:active {
  background-color: #554411;
  border: solid 2px #ffe699;
  color: #ffe699;
}

.quote-box {
  background-color: #9797bd;
  border-radius: 15px; 
  box-shadow: 10px 10px #040424;
  color: #040424;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  width: 350px;
}

@media screen and (max-width: 500px) { 
  body {
    padding: 0px 0px 30px 0px;
  }
  h1 {
    width: 100%;
  }
  img, .quote-box {
    width: 80%; 
  }
}
